keyword_spotting/mbed-os
energyRun-ui/
keyword_spotting/BUILD
keyword_spotting/tensorflow
keyword_spotting/util
keyword_spotting/third_party
keyword_spotting/.mbed
datasets/
get_dataset.py
keras_model.py
kws_util.py
make_bin_files.py
.vscode/